.contactar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto-destacado, .producto-destacado-pag2,
.producto-destacado-compu {
  width: 92%;
  height: 200px;
  box-shadow: #d1d1d1 5px 5px 0px 2px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.contactar .ingreso input, .contactar .ingreso textarea {
  border: 1px solid rgba(148, 148, 148, 0.596);
  border-radius: 10px;
  background-color: #d8d8d8;
  padding: 10px 5px;
  font-size: 16.5px;
  box-shadow: #424242 0px 2px 5px 0px;
}

body {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.navbar-desktop {
  display: none;
}

.navbar {
  background-color: #e2e2e2;
  box-shadow: #4640f1 0px 2px 40px 1px;
  border-bottom: #9fb0ff 2.9px solid;
  margin-bottom: none;
  margin-bottom: 30px;
}
.navbar .container-fluid {
  padding: 0px;
  margin: 10px 5px 0 5px;
}
.navbar .container-fluid .nav-item {
  margin-left: 10px;
}
.navbar .container-fluid input {
  width: 200px;
  height: 50px;
  margin-left: 5px;
  padding: 5px 15px;
}
.navbar .navbar-brand {
  font-size: 27px;
  margin: 0 0 7px 5px;
  font-weight: bold;
  text-shadow: #424242 1px 1.3px 2.5px;
}

.boton-header {
  background-color: #4640f1;
  color: rgb(46, 46, 46);
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  height: 38px;
  width: 60px;
  transition: 0.2s ease-in-out;
}

.boton-header:hover,
.btn-outline-success:hover {
  background-color: rgb(172, 172, 172);
  color: black;
}

.color-azul {
  color: #4640f1;
}

.btn-outline-success {
  background-color: #4640f1;
  color: #e2e2e2;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
}

.form-control {
  background-color: #b3b1ee;
  color: #000;
  border: none;
  padding: 15px 39px;
  border-radius: 8px;
}

.enlaces,
.linea,
.ocultar-h1 {
  display: none;
}

#carouselExampleAutoplaying {
  border-radius: 80px;
  overflow: hidden;
}

.carousel {
  margin: 10px auto;
  width: 97%;
}

h1 {
  display: none;
}

.beneficios {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 35px 0 10px 7px;
}
.beneficios .beneficio {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: left;
  max-width: 300px;
  margin: 10px 10px;
}
.beneficios .beneficio img {
  width: 37px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(25%) sepia(97%) saturate(4000%) hue-rotate(233deg) brightness(100%) contrast(110%);
}
.beneficios .beneficio strong {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
}

h3 {
  margin: 50px 18px 50px 18px;
}

.contenedor-productos-destacados,
.contenedor-productos-destacados-pag2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.producto-destacado {
  transition: transform 0.22s ease-in-out;
}
.producto-destacado img {
  width: 40%;
  object-fit: contain;
  height: auto;
}
.producto-destacado-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.producto-destacado-info h4 {
  font-size: 21px;
}
.producto-destacado-info p {
  width: 100%;
}
.producto-destacado-info button {
  align-self: center;
  width: 100%;
  color: #ebebeb;
  margin-top: 15px;
  padding: 0 30px;
  transition: all 0.3s ease-in-out;
}

.producto-destacado button:hover,
.producto-destacado-pag2 button:hover,
.producto-destacado-compu button:hover {
  background-color: #170b85;
  color: #ffffff;
}

.producto-destacado:hover,
.producto-destacado-pag2:hover,
.producto-destacado-compu:hover {
  transform: scale(1.015) translateY(-10px);
}

.producto-destacado-pag2,
.producto-destacado-compu {
  transition: transform 0.22s ease-in-out;
  background-color: #ffffff;
}
.producto-destacado-pag2 img,
.producto-destacado-compu img {
  width: 40%;
  margin: 5px;
  object-fit: contain;
  height: auto;
}
.producto-destacado-pag2 h4,
.producto-destacado-compu h4 {
  font-size: 21px;
}
.producto-destacado-pag2 p,
.producto-destacado-compu p {
  width: 100%;
}
.producto-destacado-pag2-info,
.producto-destacado-compu-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
}
.producto-destacado-pag2-info button,
.producto-destacado-compu-info button {
  width: 92%;
  align-self: center;
  color: #ebebeb;
  margin-top: 10px;
  padding: 0 30px;
}

.producto-destacado-compu {
  height: auto;
}

.contactar {
  text-align: center;
  flex-direction: column;
}
.contactar h3 {
  font-size: 19px;
  margin: 40px 0px 20px 0px;
  font-weight: 400;
}
.contactar h2 {
  font-size: 22px;
  margin: 50px 10px 25px 10px;
}
.contactar button:hover {
  transform: scale(1.1);
}
.contactar button {
  background-color: #4640f1;
  color: #e2e2e2;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  margin: 30px 15px 10px 15px;
  padding: 10px 20px;
  width: 200px;
  height: 60px;
}
.contactar .grupo-ingresos {
  width: 100%;
}
.contactar .par-ingresos {
  display: flex;
  width: 100%;
}
.contactar .ingreso {
  width: 100%;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 19px;
}
.contactar .ingreso input {
  width: 95%;
  height: 40px;
}
.contactar .ingreso textarea {
  width: 90%;
  height: 110px;
}
.contactar .ingreso button {
  width: 75%;
  height: 50px;
}

footer {
  text-align: center;
  background-color: #e2e2e2;
  color: #292929;
  padding: 30px 0;
  margin-top: 60px;
}
footer h4 {
  margin: 10px 0;
}
footer button {
  background-color: #4640f1;
  color: #e2e2e2;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  margin: 10px 15px 10px 15px;
}

.boton-preguntas {
  background-color: #c0c0c0;
  color: #292929;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    background-color: #e2e2e2;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    box-shadow: #4640f1 0px 2px 40px 1px;
    margin-bottom: 90px;
    border-bottom: #d3d1ff 3px solid;
  }
  .navbar-desktop input {
    background-color: #b3b1ee;
    color: #000;
    border: none;
    padding: 15px;
    font-size: 21px;
    width: 650px;
    height: 55px;
    margin: 10px 0 5px;
    border-radius: 8px;
  }
  .navbar-desktop button {
    background-color: #4640f1;
    color: #e2e2e2;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    width: 150px;
    height: 48px;
    font-size: 20px;
    margin: 14px 20px 0 10px;
    transition: transform 0.15s ease-in-out;
  }
  .navbar-desktop button:hover {
    transform: scale(0.97);
  }
  .logo {
    font-size: 38px;
    font-weight: bold;
    text-shadow: #424242 1px 1.5px 2px;
    margin: 8px 0px 10px 15px;
  }
  .titulo-mobile {
    display: none;
  }
  .enlaces {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
  }
  .enlaces a {
    position: relative;
    color: #222222;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
  }
  .enlaces a::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4640f1;
    transform: translateX(-50%);
    transition: width 0.25s ease-in-out;
  }
  .enlaces a:hover::after {
    width: 100%;
  }
  .linea {
    display: block;
    opacity: 1;
    border: none;
    width: 80%;
    height: 2.9px;
    background-color: #4640f1;
    margin: 0 auto;
  }
  h1 {
    display: block;
    font-size: 60px;
    margin: 90px 0px 30px;
    text-align: center;
    text-shadow: #4640f1 1px 2px 3px;
    color: #000;
  }
  #carouselExampleAutoplaying {
    border-radius: 100px;
    overflow: hidden;
  }
  .carousel {
    width: 92%;
    height: 100%;
  }
  .beneficios {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
  }
  .beneficios .beneficio {
    max-width: 400px;
    margin: 10px 90px;
  }
  .beneficios .beneficio img {
    width: 42px;
  }
  .beneficios .beneficio strong {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .beneficios .divisor {
    height: 50px;
    width: 2px;
    background-color: #adadad;
  }
  h3 {
    font-size: 49px;
    margin: 70px 45px 60px;
    text-shadow: #292929 1px 1px 2px;
  }
  .contenedor-productos-destacados {
    width: 40%;
    margin: 15px auto;
  }
  .contenedor-productos-destacados .producto-destacado {
    width: 100%;
  }
  .contenedor-productos-destacados img {
    width: 400px;
    height: 200px;
  }
  .contenedor-productos-destacados button {
    width: 85%;
  }
  .contenedor-productos-destacados-pag2 {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
  }
  .contenedor-productos-destacados-pag2 button {
    width: 85%;
  }
  .producto-destacado-pag2,
  .producto-destacado-compu {
    width: 31%;
    margin: 17px;
    height: 230px;
  }
  .contactar h3 {
    font-size: 40px;
    margin: 20px 0 50px 0;
  }
  .contactar button {
    width: 300px;
    height: 60px;
    font-size: 22px;
  }
  .contactar h2 {
    font-size: 1.85rem;
    margin: 90px 0 30px 0;
  }
  .contactar .grupo-ingresos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactar .grupo-ingresos .par-ingresos {
    text-align: left;
    width: 90%;
  }
  .contactar .grupo-ingresos .ingreso {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 5px;
  }
  .contactar .grupo-ingresos .ingreso input {
    height: 70px;
  }
  .contactar .grupo-ingresos .ingreso label {
    font-size: 22px;
  }
  .contactar .grupo-ingresos .ingreso button {
    width: 300px;
    height: 70px;
    font-size: 23px;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
