$primary-color: #4640f1;
$light-gray: #e2e2e2;
$medium-gray: rgba(148, 148, 148, 0.596);
$dark-gray: #292929;
$white: #ffffff;
$shadow-blue: hsla(242, 100%, 71%, 0.411);
$text-shadow-dark: #424242;
$text-shadow-light: #af98ff;
$text-shadow-black: #292929;
$background-page: #ebebeb;
$font-main: "Oswald", sans-serif;
